table{
color:green;
}

[class="salom"] {
color:pink;
}


[class="reja"]{
color:yellow;
}
.oxiri{
color:pink;
}
.nom{
color:pink;
}

.table-red {
color:red;
}
.table-bold{
front-weight:bold;
}

.table-name{
c
}
https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css